.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--bg-color-invertered);
    position: relative;
    transition: width 0.2s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    align-items: center;
    width: 100%;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.links {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.open {
    width: var(--sidebar-width-open);
}
