.app.dark {
    --bg-color: #0202d0;
    --bg-color-invertered: #d4d4d4;
    --primary-color: #0ae10a;
    --secondary-color: #049604;
    --inverted-primary-color: #000e5d;
    --inverted-secondary-color: #0018ca;
}
