:root {
    --bg-color: #d4d4d4;
    --bg-color-invertered: #08065f;
    --primary-color: #2b398a;
    --secondary-color: #0019d4;
    --inverted-primary-color: #0ae10a;
    --inverted-secondary-color: #049604;
}
