.app.light {
    --bg-color: #d4d4d4;
    --bg-color-invertered: #282680;
    --primary-color: #000e5d;
    --secondary-color: #0016bd;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #0ae10a;
}