@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

:root {
    font: var(--font-m);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    color: var(--primary-color);
}

.content-page {
    display: flex;
}

.page {
    flex-grow: 1;
    padding: 20px;
}
