name: linting,testing,building
on: 
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  pipeline:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 17.x ]
    
    steps:
      - uses: actions/checkout@v4
      - name: Starting Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: install modules
        run: npm install --legacy-peer-deps
      - name: build production
        if: always()
        run: npm run build:prod
      - name: linting typesript
        if: always()
        run: npm run lint:ts
      - name: linting css
        if: always()
        run: npm run lint:scss
      - name: unit test
        if: always()
        run: npm run test
