.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.icon {
    fill: var(--inverted-primary-color);
}
.open {
    .text {
        opacity: 1;
    }
}
.text {
    opacity: 0;
    transition: 0.3s opacity;
    width: 0;
    text-wrap: nowrap;
}
